*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:Merriweather;

}
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
body{

  background-image: url(./img/soleado.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
}
img{
 width: 150px;
}

.App {
  box-shadow: -7px -3px 60px 12px rgba(0,0,0,0.7);
  background-color: rgba(124, 178, 180, 0.568);
  border-radius: 10px;
  margin:5rem  auto;
  width: 380px;
  height: 400px;
  
}h1{
  text-align: center;
  color:rgb(31, 9, 228);
  padding: 1.5rem ;
}
 h3{
  text-align: center;
  color:rgb(40, 43, 207);
}
 h4{
 color: rgb(245, 12, 4);
}
h6{
  margin-top: 10px;
  color: rgb(245, 12, 4);
}
.icon-temp{
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}
.date{
  margin-left: 210px;
  margin-top: -132px;
}
.date p{
  width: max-content;
  font-size: 10px;
  color:rgba(116, 109, 179, 0.984);
  padding:.5rem 0;
}
button{
  background:rgb(17, 141, 199);
  color:rgb(31, 9, 228);
  border-radius: 5px;
  cursor: pointer;
  margin:15% 40%;
  padding: 5px;
  border:none;
}
@keyframes ldio-8zcwjji7if5 {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-8zcwjji7if5 div {
  position: absolute;
  animation: ldio-8zcwjji7if5 1s linear infinite;
  width: 160px;
  height: 160px;
  margin-top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #3541e0;
  transform-origin: 80px 82px;
}
.loadingio-spinner-eclipse-3av56ck46fl {
  margin:100px 100px;
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background-color: rgba(124, 178, 180, 0);
}
.ldio-8zcwjji7if5 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-8zcwjji7if5 div { box-sizing: content-box; }
/* generated by https://loading.io/ */
