*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
font-family:Merriweather;

}
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
body{

  background-image: url(./img/soleado.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}

.App {
  
  background-color: aliceblue;
  border-radius: 10px;
  margin:5rem  auto;
  width: 280px;
  height: 300px;
  
}h1{
  text-align: center;
  color:rgb(31, 9, 228);
}
 h3{
  text-align: center;
  color:rgb(40, 43, 207);
}
 h4{
 margin-left: 30px;
 color: tomato;
}
.icon-temp{
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.date{
  margin-left: 120px;
  margin-top: -100px;

}
.date p{
  width: max-content;
  color:rgba(97, 95, 119, 0.74);
  padding:.5rem 0;
}
button{
  background:rgb(17, 141, 199);
  color:rgb(31, 9, 228);
  border-radius: 5px;
  cursor: pointer;
  margin:10% 30%;
  padding: 5px;
  border:none;
}